
.modalBtn {
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    cursor: pointer;
    transition: .3s ease all;
    margin-right: 15px;
}

.modalBtn svg {
    width: 100%;
    height: 100%;
}